.margin-bottom-xxsmall {
  margin-bottom: 2px;
}
.margin-bottom-xsmall {
  margin-bottom: 4px;
}
.margin-bottom-small {
  margin-bottom: 8px;
}
.margin-bottom-medium {
  margin-bottom: 12px;
}
.margin-bottom-large {
  margin-bottom: 16px;
}
.margin-bottom-xlarge {
  margin-bottom: 20px;
}
.margin-bottom-xxlarge {
  margin-bottom: 24px;
}
.margin-top-xxsmall {
  margin-top: 2px;
}
.margin-top-xsmall {
  margin-top: 4px;
}
.margin-top-small {
  margin-top: 8px;
}
.margin-top-medium {
  margin-top: 12px;
}
.margin-top-large {
  margin-top: 16px;
}
.margin-top-xlarge {
  margin-top: 20px;
}
.margin-top-xxlarge {
  margin-top: 24px;
}
.margin-left-xxsmall {
  margin-left: 2px;
}
.margin-left-xsmall {
  margin-left: 4px;
}
.margin-left-small {
  margin-left: 8px;
}
.margin-left-medium {
  margin-left: 12px;
}
.margin-left-large {
  margin-left: 16px;
}
.margin-left-xlarge {
  margin-left: 20px;
}
.margin-left-xxlarge {
  margin-left: 24px;
}
.margin-right-xxsmall {
  margin-right: 2px;
}
.margin-right-xsmall {
  margin-right: 4px;
}
.margin-right-small {
  margin-right: 8px;
}
.margin-right-medium {
  margin-right: 12px;
}
.margin-right-large {
  margin-right: 16px;
}
.margin-right-xlarge {
  margin-right: 20px;
}
.margin-right-xxlarge {
  margin-right: 24px;
}
.padding-bottom-xxsmall {
  padding-bottom: 2px;
}
.padding-bottom-xsmall {
  padding-bottom: 4px;
}
.padding-bottom-small {
  padding-bottom: 8px;
}
.padding-bottom-medium {
  padding-bottom: 12px;
}
.padding-bottom-large {
  padding-bottom: 16px;
}
.padding-bottom-xlarge {
  padding-bottom: 20px;
}
.padding-bottom-xxlarge {
  padding-bottom: 24px;
}
.padding-top-xxsmall {
  padding-top: 2px;
}
.padding-top-xsmall {
  padding-top: 4px;
}
.padding-top-small {
  padding-top: 8px;
}
.padding-top-medium {
  padding-top: 12px;
}
.padding-top-large {
  padding-top: 16px;
}
.padding-top-xlarge {
  padding-top: 20px;
}
.padding-top-xxlarge {
  padding-top: 24px;
}
.padding-left-xxsmall {
  padding-left: 2px;
}
.padding-left-xsmall {
  padding-left: 4px;
}
.padding-left-small {
  padding-left: 8px;
}
.padding-left-medium {
  padding-left: 12px;
}
.padding-left-large {
  padding-left: 16px;
}
.padding-left-xlarge {
  padding-left: 20px;
}
.padding-left-xxlarge {
  padding-left: 24px;
}
.padding-right-xxsmall {
  padding-right: 2px;
}
.padding-right-xsmall {
  padding-right: 4px;
}
.padding-right-small {
  padding-right: 8px;
}
.padding-right-medium {
  padding-right: 12px;
}
.padding-right-large {
  padding-right: 16px;
}
.padding-right-xlarge {
  padding-right: 20px;
}
.padding-right-xxlarge {
  padding-right: 24px;
}
.width-100 {
  width: 100px;
}
.width-150 {
  width: 150px;
}
.width-200 {
  width: 200px;
}
.width-250 {
  width: 250px;
}
.width-300 {
  width: 300px;
}
.width-350 {
  width: 350px;
}
.height-100{
  height: 100px;
}
.height-150 {
  height: 150px;
}
.height-200 {
  height: 200px;
}
.height-250 {
  height: 250px;
}
.height-300 {
  height: 300px;
}
.height-350 {
  height: 350px;
}