.displayFlex{
    display: flex;
}
.flexColumn{
    flex-direction: column;
}
.flexWrap{
    flex-wrap: wrap;
}
.flexAlignItemsCenter{
    align-items: center;
}
.flexJustifyContentCenter{
    justify-content: center;
}