.displayFlex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexAlignItemsCenter {
  align-items: center;
}
.flexJustifyContentCenter {
  justify-content: center;
}
.flexGap-xxsmall {
  gap: 2px;
}
.flexGap-xsmall {
  gap: 4px;
}
.flexGap-small {
  gap: 8px;
}
.flexGap-medium {
  gap: 12px;
}
.flexGap-large {
  gap: 16px;
}
.flexGap-xlarge {
  gap: 20px;
}
.flexGap-xxlarge {
  gap: 24px;
}
.flexJustifyContentSpaceEvenly{
  justify-content: space-evenly;
}
