.select-box{
    background: white;
    display: inline-flex;
    padding-right: 6px;
    padding-left: 2px;
    align-items: center;
}
.select-box-toggle{
    background-color: white;
    color: black;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    align-items: baseline;
    text-align: center;
    display: flex;
    border: .5px solid #292929;
    border-radius: 4px;
    
}
.select-box-toggle-text{
    margin-left: 2px;
    display: flex;
    width: 100%;
}
.drop-menu{
    background-color: white;
    text-align: center;
    color: black;
    border: .5px solid #292929;
    width: 90%;
    margin-top: .5px;
    border-radius: 3px;
    margin-left: 5%;
}
.drop-menu-item{
    border-bottom: .5px solid #292929;
    cursor: pointer;
    margin-top: 4px;
    font-size: 14px;
}
.arrow {
    margin-left: 4px;
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }