/* Pallet https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
 html, body {
	 height: 100%;
	 background: #0B090A;
	 overflow: hidden;
	 color: #fff;
	 font-family: 'Open Sans';
	 font-size: 18px;
}
 #root{
	height: 100%;
	width: 100%;
	position: absolute;
	/* overflow:scroll; */
}

.top-bar-div{
	display: flex;
	position: relative;
	width: 100%;
	height: 15vh;
	border-bottom: 1px solid white;
}
.main-container{
	display: flex;
	position: relative;
	height: 85vh;
	width: 100vw;
}

.right-container{
	position: relative;
	height: 100vh;
	float: left;
	
}
.right-container-two{
	min-height: 5vw;
  max-height: 90vw;
}


