.header-div{
    width: 100vw;
    height: 30px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;   
}
.header-title{
    font-size:larger;
    color: whitesmoke;
    font-family: sans-serif;
}
.exit-button{
    position: absolute;
    left: 4px;
}